<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="${var:logdir}/internal-nlog.txt">
	<!-- Load the ASP.NET Core plugin -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" 
		    name="serviceerrors" 
		    fileName="${var:logdir}/serviceerrors.log" 
		    layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString,Data}" 
			archiveFileName="${var:logdir}/archives/serviceerrors/serviceerrors-${date:universalTime=true:format=yyyy-MM-dd}-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
			maxArchiveFiles="31"
            concurrentWrites="true"
            keepFileOpen="false"
		/>
		<target xsi:type="File" 
		    name="allerrors" 
		    fileName="${var:logdir}/allerrors.log" 
		    layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString,Data}" 
			archiveFileName="${var:logdir}/archives/allerrors/allerrors-${date:universalTime=true:format=yyyy-MM-dd}-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
			maxArchiveFiles="31"
            concurrentWrites="true"
            keepFileOpen="false"
		/>
		<target xsi:type="File" 
            name="allinfo" 
            fileName="${var:logdir}/allinfo.log" 
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString,Data}" 
            archiveFileName="${var:logdir}/archives/info/allinfo-${date:universalTime=true:format=yyyy-MM-dd}-{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
			maxArchiveFiles="31"
            concurrentWrites="true"
            keepFileOpen="false"
        />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="SimpleToDoService.*" minlevel="Error" writeTo="serviceerrors" />
		<logger name="*" minlevel="Error" writeTo="allerrors" />
	    <logger name="*" minlevel="Info" writeTo="allinfo" />	
	</rules>
</nlog>